In [1]:
import numpy as np

# Variables

we can think about variables as a name we asign to a particular object in Python. For example:

In [2]:
# assign a small array to variable a
a = np.array( [ [1,1,2], [3,5,8] ] )

When we run the cell, we store the variable and its value. We can see the variables value in two ways:

In [3]:
a

array([[1, 1, 2],
       [3, 5, 8]])

In [4]:
print(a)

[[1 1 2]
 [3 5 8]]

## Naming variables
in the class we are going to use `snake_case` for naming variables.

# Variables and objects

**object**: often encountered in the python documentation and tutorials.

object is a bundle of properties and actions about something specific

Example:

- object: data frame
- properties: name of rows, name of columns, data created
- actions: selecting a row, adding a column

A variable is a name we give a specific object, and the same object can be referenced by different variables.

Example:

- The Sun (actual star) = object
- sol = Spanish word for sun = variable
- soleil = French for sun = another variable

In practice, we will use objects and variables interchangeably

# Types

Each object in python has a type.

type = what kind of object it is

We can also call the type of the object the **class** of the object

We can see the type/class of an object using the `type` function

In [5]:
print(a)
type(a)

[[1 1 2]
 [3 5 8]]

numpy.ndarray

The `numpy.ndarry` is the core object/data type in the NumPy package. We can check the type of an entry in the array by indexing:

In [10]:
print(a[0,0])

1

In [12]:
type(a[0,0])

numpy.int64

In [9]:
# how would you access the value 5 in the array a?

print(a[1,1])

5

# Functions

`print` was our first example of a python function! 

A function:
- take in a set of **arguments**, separated by commas, and
- use those arguments to produce some **output**

argument = parameter: you might see argument more often in the documentation

We can ask information about a function by executing the question mark followed by the function name `print`

In [13]:
?print

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

- first line: function showing all of its arguments in parenthases
- then a short description of what the function does
- finally, a list of the arguments and a breif explanation of each of them.

Different types of arguments inside the parenthesis. Roughly speaking there are two types of arguments:

- **non-optional arguments**: arguments you need to specify for the function to do something
- **optional argumets**: arguments that are pre-filled with a default value by the function, but we can override them. Optional arguments appear inside the parentesis () in the fomr

`optional argument = default_value`

In [14]:
print('changing the default end argument of the print function', end=':)')

changing the default end argument of the print function:)

In [15]:
print('changing the default end argument of the print function')

changing the default end argument of the print function

#Attributes and Methods

An object in Python has attributes and methods.

-**attribute**: a property of an object, a piece of information about it.
    ex. name, color, age, weight
-**method***: a procedure associated with an object, an action where the main ingredient is the object itself.
    ex meow(), nap(), chase_laser(), move_tail()
    
Access a variable's attributes and methods by adding a period `.` at the end of the variables name   

`variable.variable_method()` or
`variable.variable_attribute`

Examples:
Methods and attributes of NumPy arrays:

In [2]:
import numpy as np

In [3]:
var = np.array( [ [1,2,3], [4,5,6], [7,8,9], ] )
var

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [4]:
# shape : attribute telling us the number of elements in each dinension of the array
var.shape

(3, 3)

In [5]:
type(var.shape)

tuple

In [6]:
# ndim is an attribute holding the number of array dimensions
var.ndim

2

In [7]:
type(var.ndim)

int

- Notice attributes can have many different data types.

Examples of metods:

In [8]:
# min method for array
# retun the minimum value in the array
var.min()

1

In [10]:
type(var.min)

builtin_function_or_method

# R and Python
R:
- doesnt use methods within an object
- functions in R are extrinsic to (outside) the objects they are acting on

Example: recreate getting the min value in an array

In R there would be two seperate items: the variable `var` and a *seperate* function `min` that gets `var` as a parameter

```
# this is R code
var <- array(c(1,4,7,2,5,8,3,6,9),) dim=c(3,3)
min(var)
```

Using the pipe operator >%> in R's tidyverse is closer to the `.` in Python:

```
var <- array(c(1,4,7,2,5,8,3,6,9),) dim=c(3,3)
var >%> min()
```

What is happening?
The pipe `>%>` is passing `var` to the `min()` function as its first argument. This is essentially what the `.` does in Python

```
var = np.array( [ [1,2,3], [4,5,6], [7,8,9], ] )
var.min()
```